:root {
    --basic-black: #000000;
    --basic-azure: #81B3D2;
    --basic-brown: #766357;
    --basic-dark-azure: #5496BD;
    --basic-extra-azure: #669EC0;
    --basic-white: #ffffff;
    --basic-dark-brown: #503E33;
    --basic-extra-brown: #604E43;
    --basic-opacity-black: #333333;
    --basic-gray: #EEEEEE;
    --basic-white-opacity:  rgb(255,255,255,0.3);
    --basic-white-body: #F2F2F2;

    --special: #663d15;
  }

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    
    
    background-position: top center;
    background-repeat: no-repeat;
    background: var(--basic-white-body);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.wrapper {
    width: 1200px;
    background-color: var(--basic-white);
    margin: 0 auto;
}

.container {
    text-align: center;
    
}


a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

.main-nav {
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.site-nav {
    list-style: none;
}

.site-nav a {
    color: var(--basic-black);
}

.site-nav a:hover {
    color: var(--basic-azure);
}
.site-nav a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-nav a:focus {
    color: var(--basic-brown);
}

.bg-img {
    height: 509px;
    background: url("../img/background-photo.jpg") no-repeat;
    background-size: 100% auto;
    display: block;
}

.welcompng {
    padding-top: 77px;
}

.description {
  
    text-align: center;
    
}

.description h3 {
    font-size: 21px;
    line-height: 26px;
}
.description p {
    font-weight: 400;
    color: var(--basic-opacity-black);
}

.main-reason {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main-reason h3 {
    font-size: 21px;
    line-height: 21px;
}

.main-reason p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-opacity-black);
    font-weight: 400;
}

.add-reason {
    grid-column-start: 1;
    grid-column-end: 4;
}


.first-reason {
    text-align: center;
    background-color: var(--basic-azure);
    color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.first-reason p {
    color: var(--basic-white);
}

.first-reason-text {
    grid-column-start: 1;
}

.first-reason-img {
    grid-column-end: 4;
    grid-column-start: 2
}

.product-reason {
    list-style: none;
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-reason-item {
    text-align: center;
}

.product-reason-item h4{
    font-size: 21px;
    line-height: 21px;
}

.second-reason {
    text-align: center;
    background-color: var(--basic-azure);
    color: var(--basic-white);
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr ;
}

.second-reason p {
    color: var(--basic-white);
}

.second-reason-text {
    grid-column-end: 4;
}

.second-reason-img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.else-reason {
    text-align: center;
    background-color: var(--basic-gray);
}

.interest {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
}

.interest p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.interest h3 {
    font-size: 30px;
}

.button {
    padding: 30px 125px;
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown);
    color: var(--basic-white);
    display: block;
}

.button:hover {
    background-color: var(--basic-extra-brown);
}

.button:focus {
    background-color: var(--basic-dark-brown);
    color: var(--basic-white-opacity);
}

.main-footer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contact {
    font-size: 21px;
    line-height: 26px;
}

.footer-phone {
    color: var(--basic-black);
}

.social-list {
    list-style: none;
}

.social-button {
    padding: 15px 13px;
    background-color: var(--basic-azure);
}

.social-button:hover {
    background-color: var(--basic-extra-azure);
}

.social-button:focus {
    background-color: var(--basic-dark-azure);
}

.footer-copyright h3 {
    font-size: 14px;
    font-weight: 400;
}

/* catalog */

.name-hotel {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.name-hotel:hover{
    color: var(--basic-azure);
}

.name-hotel:focus{
    color: var(--basic-opacity-black);
}

.catalog-hotel {
    list-style: none;
    display: grid;
}

.catalog-hotel p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.catalog-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 150px;
}

.catalog-img {

}

.catalog-description {
    text-align: left;
}

.rating {
    margin: 0;
    width: 83px;
    height: 21px;
    padding: 3px 12px 3px 15px;
    color: #666666;
    background-color: #F2F2F2;
}
.star {
    color: var(--basic-azure);
}

.filter {
    text-align: center;
    width: 1200px;
    height: 217px;
    text-align: none;
    background: url("../img/background.jpg") no-repeat;
    display: flex;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
}

.filter ul {
    list-style: none;
    line-height: 46px;
    text-align: none;
  }


.found-catalog p {
    width: 75px;
    height: 18px;
    margin: 0%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.found-catalog-list {
    list-style: none;

}

.button-found {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-opacity-black);
    border-bottom: 1px dotted var(--basic-azure);
}

.arrow {
    border: none;
    color: #CACACA;
}


.button-found:hover {
    color: var(--basic-azure);
}

.button-found:focus {
    color: var(--basic-black);
    border: none;
}

.arrow:hover {
    color: var(--basic-black);
}

.arrow:focus {
    color: var(--basic-azure);
}



.button-detailed {
    text-align: center;
    width: 110px;
    height: 27;
    font-size: 14px;
    line-height: 21px;
    background-color: var(--basic-azure);
    color: var(--basic-white);
    display: block;
}

.button-detailed:hover {
    background-color: var(--basic-extra-azure);
}

.button-detailed:focus {
    background-color: var(--basic-dark-azure);
    color: var(--basic-white-opacity);
}

.catalog {
    text-align: center;
    padding: 0%;
    width: 142px;
    height: 27px;
    font-size: 14px;
    line-height: 21px;
}

.button-found.active {
    color: var(--basic-azure);
    border: none;
}

/* Grid */

.page {
    height: 100%;
}